tr{
    height: 50px;
    margin-top: 50px;
}
/* tr input.largeCheckbox{
    width: 100px; 
            height: 100px; 
} */
td{
    text-align: left;
    max-width: 20px;
}
.btn-danger{
    margin-left: 300px;
} 
.taskname{
    width: 500px;
}
